@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ececec !important;
}

a {
  text-decoration: none !important;
  color: #000;
}

li {
  list-style: none;
}

h1.title {
  margin-top: 120px !important;
}

h1 {
  font-family: "Averia Serif Libre";
}

p {
  font-size: large;
}

/* Navbar */
.navbar {
  z-index: 999999;
  background-color: #fff;
  position: fixed !important;
  top: 0;
  width: 100%;
}

.nav-item {
  display: block;
  padding: 5px 15px;
}

.nav-link {
  color: #000 !important;
  font-weight: 500;
  margin: 0px 1px;
}

.nav-link:hover, .active {
  background-color: #dc143c;
  color: #fff !important;
  border: none;
  cursor: pointer;
  outline: none;
}

.openbtn, .sidepanel {
  display: none !important;
}

@media (max-width: 891px) {
  nav ul {
    display: none !important;
  }
  .sidepanel {
    display: inline !important;
    width: 0;
    position: fixed;
    z-index: 99999;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidepanel a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #f8f8f8;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #dc143c;
    color: #fff;
    padding: 10px 15px;
    border: none;
    position: fixed;
    right: 0;
    display: inline !important;
  }
}

.carousel {
  width: 88%;
  height: 340px;
  margin-left: 6%;
  margin-bottom: 30px;
}

.carousel-cell {
  margin: 5px 5px;
  width: 300px;
  height: 320px;
  background: #fff;
  -webkit-box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
          box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
}

.post-info {
  margin: 9px 7px auto;
  height: 140px;
  font-family: "Yanone Kaffeesatz";
}

.post-info .post-title, .post-info i {
  padding: 5px 0px;
  margin: 5px;
  color: #000;
}

.is-selected img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.slider-img {
  width: 286px;
  height: 170px;
  margin: 7px 7px auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.flickity-page-dots {
  display: none !important;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 88%;
  margin: 0% 6% auto;
}

.main-container .sub-container-1 {
  width: 73%;
}

.main-container .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .main-wrapper .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 200px;
  width: 100%;
  margin: 7.5px 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.main-container .main-wrapper .box .recent-img {
  width: 250px;
  height: 190px;
  margin: 5px 5px;
}

.main-container .main-wrapper .box .recent-info {
  height: 190px;
  margin: 5px 5px;
  width: auto;
  font-family: "Yanone Kaffeesatz";
}

.main-container .main-wrapper .box .recent-info h3, .main-container .main-wrapper .box .recent-info p, .main-container .main-wrapper .box .recent-info i {
  padding: 5px 8px;
  margin-bottom: 2px;
}

.main-container .main-wrapper .box .recent-info .Btn {
  background-color: #fff;
  color: #dc143c;
  border: 1px solid #dc143c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-family: "Rubik", Helvetica, serif;
  padding: 5px 12px;
  margin: 5px 8px;
  float: right;
  position: relative;
  bottom: 10px;
}

.main-container .main-wrapper .box .recent-info .Btn:hover {
  background-color: #dc143c;
  color: #fff !important;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  outline: none;
}

/* Sidebar */
.sidebar {
  width: 27%;
  background-color: #d6d6d6;
  margin: 0px 0px 0px 15px;
  border: 1px solid #ccc;
}

/* Get Social */
.get-social h4, .subscribe h4, .trending-posts h4, .popular-topics h4 {
  margin: 10px 10px 0px 10px;
  font-family: "Averia Serif Libre";
}

.get-social hr, .subscribe hr, .trending-posts hr, .popular-topics hr {
  width: 90%;
  margin: 0px 10px;
}

.get-social div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 5px;
}

.get-social div a:nth-child(1) {
  background-color: #ff0000;
}

.get-social div a:nth-child(2) {
  background-image: linear-gradient(225deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.get-social div a:nth-child(3) {
  background-color: #3b5998;
}

.get-social div a:nth-child(4) {
  background-color: #00acee;
}

.get-social div a:nth-child(5) {
  background-color: #0e76a8;
}

.get-social div a {
  margin: 0px 8px;
}

.get-social div a i {
  color: white;
  padding: 8px;
}

.subscribe form input {
  margin: 0px 10px 10px 10px;
  height: 33px;
  width: 90%;
  border: 1px solid #999;
  font-weight: lighter;
  padding-left: 8px;
  outline: none;
}

.subscribe form button {
  width: 35%;
  padding: 6px;
  margin: 0px 10px;
  color: #fff;
  border: none;
  outline: none;
  background: #c4302b;
  -webkit-transition: 0.2px;
  transition: 0.2px;
}

.trending-posts .side-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 70px;
  margin: 10px;
}

.trending-posts .side-posts img {
  width: 100px;
  height: 70px;
}

.trending-posts .side-posts .info {
  margin-left: 7px;
  height: 70px;
}

.trending-posts .side-posts .info a {
  color: #000;
}

.trending-posts .side-posts .info a:hover {
  color: #dc143c;
}

.trending-posts .side-posts .info h5 {
  font-family: "Yanone Kaffeesatz";
  font-size: 18px;
  margin: 0px;
}

.popular-topics ul {
  margin: 0px;
  padding: 0px 10px;
}

.popular-topics ul li {
  border-bottom: 1px solid #888282;
  line-height: 35px;
  width: 95%;
}

.popular-topics ul li a {
  color: black;
  display: block;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.popular-topics ul li a:hover {
  color: #dc143c;
  padding-left: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media only screen and (max-width: 1200px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container-1 {
    width: 90% !important;
  }
  .sub-container-2 {
    width: 90%;
    margin-left: 0px;
  }
  .main-wrapper {
    margin-bottom: 20px;
  }
  .sidebar {
    width: 90%;
  }
}

@media only screen and (max-width: 960px) {
  .main-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 350px !important;
    width: 300px !important;
  }
  .box .img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 290px !important;
    height: 190px;
    margin: 5px;
    border: 1px dashed green;
  }
  .box .img-wrapper .recent-img {
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    border: 1px solid red;
  }
  .box p {
    display: none;
  }
  .box .Btn {
    width: 96%;
    margin: 15px 2% auto !important;
  }
}

.bottom-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
}

.bottom-circle i {
  color: #fff;
  background-color: #00acee;
  padding: 15px;
  border-radius: 50%;
}

/* Contact */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: auto;
}

.one, .three {
  width: 320px;
  height: 115px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
}

.two {
  background-color: #dc143c;
  color: #fff;
  width: 350px;
  height: 130px;
  border-radius: 5px;
  font-weight: 100 !important;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons {
  color: #fff;
  margin: 0px 10px;
}

/* Footer */
footer {
  margin-top: 30px;
}

footer p {
  color: #999;
  line-height: 25px;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ftitles {
  color: #fff;
}

.flogo {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  padding: 5px;
  margin: 12px;
}

.footer-top {
  background: #111;
  padding: 40px;
}

.segment-three h3 {
  margin: 15px 0;
}

.segment-two h3 {
  margin: 15px 0;
}

.segment-two ul {
  margin: 0;
  padding: 0;
}

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.segment-two ul li a {
  text-decoration: none;
  color: #999;
  display: block;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.segment-two ul li a:hover {
  padding-left: 15px;
  color: #efefef;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.segment-three input {
  width: 100%;
  margin-bottom: 10px;
  height: 35px;
  background: transparent;
  border: 1px solid #999;
  color: #fff;
  font-weight: lighter;
  padding-left: 5px;
  outline: none;
}

.segment-three button {
  width: 35%;
  padding: 7px;
  color: #fff;
  border: none;
  outline: none;
  background: #c4302b;
  -webkit-transition: 0.2px;
  transition: 0.2px;
}

.f-icons {
  color: #999 !important;
  margin: 0px 10px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 50%;
}

.f-icons:hover {
  color: #fff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-bottom-text {
  color: #999;
  background: #333;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .md-mb-30 {
    margin-bottom: 30px;
  }
  .footer-top {
    padding: 30px 10px;
    margin: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .footer-top {
    padding: 20px 5px;
  }
}

.footer-bottom-text {
  margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */